+ FabricMaya 1.0 .
FABRIC_DIR := ../..
FABRIC_EXTS_PATH +:= ../../Exts
FABRIC_DFG_PATH +:= ../../Presets/DFG
PYTHONPATH +:= python/{{PYTHON_VERSION}}
PATH +:= ../../bin
PATH +:= ../../Exts/Builtin/USD/lib
